In [1]:
import numpy as np 
import pandas as pd 

import sqlite3 as sql 

import matplotlib.pyplot as plt 
import matplotlib.patches as mpatches
import seaborn as sns 
import missingno as msno 

from utils import my_histogram

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
con = sql.connect("../data/database.sqlite")

In [5]:
df_match_ingame_cross = pd.read_csv("../data/df_match_ingame_cross.csv")

In [8]:
df_match_ingame_cross

,match_api_id,event_id,elapsed,cross_type,team_api_id,player1_api_id
0,489042,378863,7,cross,10260.0,30829.0
1,489042,378921,14,cross,10260.0,24148.0
2,489042,378960,19,corner,10261.0,38807.0
3,489042,378970,19,cross,10261.0,30929.0
4,489042,378978,20,cross,10260.0,24148.0
...,...,...,...,...,...,...
330358,2030171,4940619,44,corner,8370.0,36130.0
330359,2030171,4940734,49,corner,8558.0,498033.0
330360,2030171,4940742,50,corner,8558.0,498033.0
330361,2030171,4940990,73,corner,8558.0,498033.0
330362,2030171,4941137,90,corner,8370.0,75004.0